# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]

# IDE
.vscode/
.idea/

# Databases
*.db
*.sqlite
*.sqlite3

# OS files
.DS_Store
Thumbs.db